/* reset css */
body,
h1,
h2 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #363946;
  border-bottom: 10px solid #000;
  padding: 10px 20px;
}

nav {
  text-align: right;
}

#logo {
  width: 60px;
  height: 60px;
}

a::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #7d83ff;
  margin-right: 10px;
}

a {
  /* display: inline-flex;
  align-items: center; */
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Fira Code', sans-serif;
  font-weight: 500;
  margin-right: 30px;
}

#button {
  background-color: #7d83ff;
  display: inline-block;
  padding: 17px 18px 17px 20px;
  box-shadow: 5px 5px black;
  margin-right: 0;
  transition: background-color 100ms linear;
}

#button:hover {
  background-color: #a8adff;
}
