.button {
  background-color: #e0a61c;
  display: inline-block;
  padding: 17px 18px 17px 20px;
  box-shadow: 5px 5px black;
  margin-right: 0;
  transition: background-color 100ms linear;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.button:hover {
  background-color: #e7b540;
}

.button.-second {
  display: flex;
  padding: 12px 15px 14px 20px;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  background-color: #7f7979;
  box-shadow: 10px 10px #fff;
}
