.main-button {
  background-color: #e0a61c;
  display: inline-block;
  padding: 17px 18px 17px 20px;
  box-shadow: 5px 5px black;
  margin-right: 0;
  transition: background-color 100ms linear;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.main-button:hover {
  background-color: #e7b540;
}

