.section {
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #7f7979;
  background: linear-gradient(
    185deg,
    rgba(224, 166, 28, 1) 25%,
    rgba(235, 179, 44, 1) 53%,
    rgba(210, 156, 26, 1) 82%
  );
}

.section ul {
  column-count: 2;
  list-style: none;
}

.section.-secondBackground {
  background: linear-gradient(
    185deg,
    rgba(0, 0, 0, 1) 41%,
    rgba(14, 14, 14, 1) 88%
  );
}

.section.-secondBorder {
  border-bottom: 10px solid #7f7979;
}
