.section {
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #ecf4ff;
}

.section.-firtBackground {
  background: linear-gradient(
    185deg,
    rgba(22, 53, 89, 1) 25%,
    rgba(1, 2, 25, 1) 77%
  );
}

.section ul {
  column-count: 2;
  list-style: none;
}

.section.-secondBackground {
  background-color: black;
}

.section.-secondBorder {
  border-bottom: 10px solid #010219;
}

.section.-thirdBackground {
  background-color: #8a95a5;
}
