.section {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #e0a61c;
  border-bottom: 10px solid #7f7979;
}

.section ul {
  column-count: 2;
  list-style: none;
}

.section.-second {
  background-color: #000;
}

.section.-second .container {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  /* margin: 50px auto 110px; */
}
