.skill-tec {
  font-family: 'Cormorant SC', sans-serif;
  font-size: 25px;
  color: white;

  display: flex;
}

.skill-tec img {
  margin-right: 10px;
}

.skill-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
