.skill-tec {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 15px;
  color: white;

  display: flex;
  align-items: center;
}

.skill-tec img {
  margin-right: 10px;
  width: 90px;
}

.skill-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill-tec h3 {
  margin-bottom: 10px;
}
