.title {
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ecf4ff;
  text-shadow: 2px 2px 2px #000000;
}

.title.-firt {
  color: #163559;
  font-size: 25px;
}

.title.second {
  text-shadow: none;
  text-align: center;
}
